{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>My Bookings</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Field</th>
                <th>Date</th>
                <th>Start</th>
                <th>End</th>
                <th>Amount (Rs)</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Receipt</th>

            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.field.name }}</td>
                <td>{{ booking.date }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>{{ booking.amount }}</td>
                <td>
                    {% if booking.status == 'approved' %}
                        <span class="badge bg-success">Approved</span>
                    {% elif booking.status == 'pending' %}
                        <span class="badge bg-warning text-dark">Pending</span>
                    {% else %}
                        <span class="badge bg-danger">Rejected</span>
                    {% endif %}
                </td>
                <td>
                    {% if booking.payment_status == 'paid' %}
                        <span class="badge bg-success">Paid</span>
                    {% elif booking.payment_status == 'refunded' %}
                        <span class="badge bg-secondary">Refunded</span>
                    {% else %}
                        <span class="badge bg-danger">Unpaid</span>
                    {% endif %}
                </td>
                {% if booking.team %}
                    <p><strong>Team:</strong> {{ booking.team.name }}</p>
                {% endif %}

                <td>
                    {% if booking.status == 'approved' %}
                      <a href="{% url 'booking_receipt' booking.id %}" class="btn btn-sm btn-outline-primary">View</a>
                    {% else %}
                      <em>-</em>
                    {% endif %}
                  </td>
                  
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">You have no bookings yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
